# ==========================
# Visual Studio
# ==========================
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates
*.ncb
*.vcxproj.user
*.vcxproj.filters

# ==========================
# Build Folders
# ==========================
bin/
obj/
out/

# ==========================
# Rider / JetBrains
# ==========================
.idea/
*.iml

# ==========================
# Visual Studio Code
# ==========================
.vscode/

# ==========================
# Logs
# ==========================
*.log

# ==========================
# Packages
# ==========================
*.nupkg
*.snupkg
packages/
.nuget/
project.lock.json
project.fragment.lock.json

# ==========================
# ASP.NET Core
# ==========================
appsettings*.json
wwwroot/
*.db
*.sqlite
*.sql

# ==========================
# Others
# ==========================
*.DS_Store
*.vsix
_ReSharper*/
*.dotCover
TestResults/
